body {
    margin: 0;
    padding: 0;
}


/*Стили для первого слайдера */

.slider-first {
    width: 100%;
    min-height: 800px;
    background-color: aqua;
}

.slider-first__wrapper {
    width: 60%;
    height: 800px;
    margin: auto;
    position: relative;
}

.slider-first__item {
    width: 100%;
    height: 600px;
    font-size: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition: 1s ease opacity;
}

.slider-first__item_opacity {
    opacity: 0;
}

.slider-first__item:nth-child(1) {
    background-color: blue;
    color: burlywood;
    z-index: 1;
}

.slider-first__item:nth-child(2) {
    background-color: burlywood;
    color: blue;
}

.slider-first__item:nth-child(3) {
    background-color: rgb(129, 120, 109);
    color: pink;
}

.slider-first__move {
    position: absolute;
    font-size: 40px;
    bottom: 100px;
    color: black;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.slider-first__move_left {
    left: 200px;
}

.slider-first__move_right {
    right: 200px;
}


/*Стили второго слайдера */

.slider-second {
    background: blue;
    width: 100%;
    padding: 50px 0;
}

.slider-second__wrapper {
    position: relative;
    width: 60%;
    padding: 50px 0;
    background-color: chocolate;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slider-second__items {
    height: 600px;
    width: 100%;
    position: relative;
    margin: auto;
}

.slider-second__item {
    width: 100%;
    height: 600px;
    font-size: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.slider-second__item:nth-child(1) {
    background-color: palegreen;
    color: burlywood;
}

.slider-second__item:nth-child(2) {
    background-color: burlywood;
    color: blue;
}

.slider-second__item:nth-child(3) {
    background-color: rgb(129, 120, 109);
    color: pink;
}

.slider-second__buttons {
    width: 400px;
    margin: 25px auto 0;
    display: flex;
    justify-content: space-between;
}

.slider-second__buttons-item {
    width: 180px;
    background-color: cornflowerblue;
    font-size: 26px;
    padding: 10px 0;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}

.slider-second__dots {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.slider-second__dots-item {
    width: 17px;
    height: 17px;
    background-color: black;
    border-radius: 50%;
    margin-right: 7px;
}

.slider-second__dots-item:last-child() {
    margin-right: 0;
}

.slider-second__dots-item_active {
    background-color: cornsilk;
}


/* Стили для третьего слайдера */

.slider-third {
    background: red;
    width: 100%;
    padding: 50px 0;
}

.slider-third__wrapper {
    width: 1200px;
    margin: 50px auto 0;
    overflow: hidden;
}

.slider-third__track {
    display: flex;
    justify-content: space-between;
    width: 100%;
    transition: 1s;
}

.slider-third__track-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    color: black;
    font-size: 100px;
}

.slider-third__track-item:nth-child(1) {
    background: indigo;
}

.slider-third__track-item:nth-child(2) {
    background: rgb(117, 84, 141);
}

.slider-third__track-item:nth-child(3) {
    background: rgb(19, 12, 24);
}

.slider-third__track-item:nth-child(4) {
    background: rgb(68, 67, 70);
}

.slider-third__track-item:nth-child(5) {
    background: rgb(207, 203, 209);
}

.slider-third__track-item:nth-child(6) {
    background: rgb(149, 209, 9);
}

.slider-third__track-item:nth-child(7) {
    background: rgb(148, 151, 141);
}

.slider-third__track-item:nth-child(8) {
    background: rgb(209, 9, 9);
}

.slider-third__track-item:nth-child(9) {
    background: rgb(152, 175, 98);
}

.slider-third__track-item:nth-child(10) {
    background: rgba(91, 112, 41, 0.555);
}

.slider-third__buttons {
    margin: 50px auto 0;
    max-width: 400px;
    display: flex;
    justify-content: space-between;
}

.slider-third__buttons-item {
    font-size: 24px;
    padding: 20px 15px;
    width: 150px;
    text-align: center;
}